body
{
    width: 100%;
    height: 100%;
    margin: 0%;
}

a
{
   color: #ededed; 
   text-decoration: none;
   background-color: transparent;
}

.header
{
   background-color: #000;
   color: #fff;
   border-color: #080808;
   min-height: 50px;
   border:1px solid transparent;
}

.inner-header
{
    width: 80%;
    margin: auto;
}

.logo
{
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.header-links
{
    float: right;
    font-size: 14px;
    height: 50px;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: bolder;
}

.content
{
    min-height:600px;
    background-image: url();
}

.banner-image
{
    padding-bottom: 50px;     
    margin-bottom: 20px;     
    text-align: center;     
    color: #f8f8f8;     
    background:url(img/intro-bg_1.jpg) no-repeat center;  
    background-size: cover;  
}

.inner-banner-image
{
    padding-top: 12%;     
    width:80%;     
    margin:auto; 
}

.banner-content
{
    position: relative;     
    padding-top: 6%;     
    padding-bottom: 6%;     
    overflow:hidden;     
    margin-bottom: 12%;     
    background-color: rgba(0, 0, 0, 0.7);     
    max-width: 660px; 
}

.button
{
    color: #fff;     
    background-color: #c9302c;     
    border-color: #ac2925;   
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);     
    padding: 10px 16px;     
    font-size: 18px;     
    border-radius: 6px; 
}

.container
{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.items
{
    width:30%;     
    display: block;     
    padding: 4px;     
    margin-bottom: 20px;     
    line-height: 1.42857143;     
    background-color: #fff;     
    border: 1px solid #ddd;     
    border-radius: 4px;     
    float:left;     
    margin-left:1%;
}

.thumbnail
{
    display: block;
    max-width: 100%;
    height: auto;
}

.caption
{
    color:#000;     
    padding:0px 10px 10px;     
    font-weight: bold;     
    text-align: center; 
}

footer
{
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}

table,th
{
    border-collapse: collapse;
    border-spacing: 10px;
    padding: 10px;
}

td
{
    border-style: inset;
    border-top:5px solid rgb(223, 212, 212);
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px;
    background-color: rgba(247, 241, 241, 0.801);
}